.new-expense {
  background-color: #95D1CC;
  padding: 1rem;
  margin: 6rem auto 2rem;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.753);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #5584AC;
  background-color: #5584AC;
  color: white;
  border-radius: 28px;
  margin-right: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.405);
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}

@media (max-width: 600px) {
  .new-expense{
    margin: 8rem auto 2rem;
  }
}